RewriteEngine On
#External redirect with THE_REQUEST trick; change R to R=301 when everything works correctly
RewriteCond %{THE_REQUEST} ^(GET|POST)\ /index\.php\?page=(.*)\ HTTP
RewriteRule ^ /%2.php\? [R=301,L]

#Internal rewrite
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteRule ^(.*).php$ index.php?page=$1 [L]

ErrorDocument 404 /ANDIBI/404.php

#Mit Dank an Howlin von StackOverflow.com für die große Hilfe! https://stackoverflow.com/questions/23048391/rewrite-pages-from-a-subdirectory/23048806?noredirect=1#23048806
