.flickr:before {
	content: '\f473';
		display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #427FED;
        font: normal 64px/1 'Genericons';
}

.github:before {
	content: '\f200';
		display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #171515;
        font: normal 64px/1 'Genericons';
}

.pinterest:before {
	content: '\f209';
		display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #CC2127;
        font: normal 64px/1 'Genericons';
}

.plus:before {
	content: '\f206';
		display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #DD4C39;
        font: normal 64px/1 'Genericons';
}

.reddit:before {
	content: '\f222';
		display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #000;
        font: normal 64px/1 'Genericons';
}

.skype:before {
	content: '\f220';
		display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #019BD7;
        font: normal 64px/1 'Genericons';
}

.twitter:before {
	content: '\f202';
       		 display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #2DAAE2;
        font: normal 64px/1 'Genericons';
}

.youtube:before{
	content: '\f213';
		display: inline-block;
        -webkit-font-smoothing: antialiased;
		color: #DF2926;
        font: normal 64px/1 'Genericons';
]
